---
import { type CollectionEntry, getCollection, render } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import PageHeader from '../../components/PageHeader.astro';
import PageExcerpt from '../../components/PageExcerpt.astro';
import PostDate from '../../components/PostDate.astro';
import PostNavigation from '../../components/PostNavigation.astro';
import Separator from '../../components/Separator.astro';

export async function getStaticPaths() {
    const posts = (await getCollection('posts')).sort(
		(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
	);
    return posts.map((post, index) => ({
        params: { slug: post.id },
        props: {
            post,
            prevPost: index + 1 !== posts.length ? posts[index + 1] : undefined,
            nextPost: index !== 0 ? posts[index - 1] : undefined
        }
    }));
}

type Props = {
	post: CollectionEntry<'posts'>;
	prevPost?: CollectionEntry<'posts'>;
	nextPost?: CollectionEntry<'posts'>;
};

const { post, prevPost, nextPost } = Astro.props;
const { Content } = await render(post);
---

<Layout {...post.data}>
	<PageHeader title={post.data.title}>
		{post.data.excerpt && (
			<>
				<PageExcerpt>
					{post.data.excerpt}
				</PageExcerpt>
				<Separator />
			</>
		)}
	</PageHeader>
	<div class="mx-auto max-w-xl content has-drop-cap animate">
		<Content />
		<p class="mt-8 text-main-600 dark:text-main-300">
			Published on <PostDate date={post.data.pubDate} />
		</p>
	</div>
	<PostNavigation prevPost={prevPost} nextPost={nextPost} />
</Layout>
